body {
    background-image: url("../img/map.jpg");
}

section {
    font-family: 'Oswald', sans-serif;
    font-size: 10em;
    position: absolute;
    right: 5%;
    top: 30%;
}

button {
    position: relative;
    left: 20%;
    width: 200px;
}